html, body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: white;
  padding: 10px 20px 0px;
}

.header {
  background-color: rgb(255, 255, 255);
  min-height: 150px;
  border-bottom: solid;
  border-bottom-color: slateblue;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
  border-bottom: solid;
  border-bottom-color: slateblue;
}
.footer {
  background-color: white;
  min-height: 150px;
}

.tabela-de-horarios{
  border: solid 1px black;
}

.tabela-de-horarios thead{
  background-color: slateblue;
  text-align: left;
}

.tabela-de-horarios thead th{
  color: #f1f1f1;
}

.tabela-de-horarios td{
  border: solid 1px black;
  border-width: 0.1px;
}

h1, h2 , h3, .form-label,
p{
 font-family:'Trebuchet MS';
}

.texto-valor{
  font-size: 10px;
  font-weight: bold;
}

.formulario{
  width: 500px;
  min-width: 500px;
}

.form-input-email,
.form-input-about,
.form-input-name{
  width: 300px;
}

.form-text-area{
  width: 300px;
  max-width: 300px;
  max-height: 50px;
}

.botao-enviar{
  background-color: blueviolet;
  color: white;
  border-radius: 2px;
  font-family:'Trebuchet MS';
  width: 150px;
}

.botao-limpar{
  background-color: blueviolet;
  color: white;
  border-radius: 2px;
  font-family:'Trebuchet MS';
  width: 150px;
  margin-left:88px;
}



/* <img
class="headerImage"
width="220px"
src="https://img.freepik.com/fotos-gratis/doutor-apresentando-algo-sobre-fundo-branco-isolado_1368-5834.jpg?w=826&t=st=1688690896~exp=1688691496~hmac=e4665ff21afbffae4c198340ec4ba90a045f08e7d3a396e53c50b8bc0c875843"
alt=""
/>
  <img
class="headerImage"
width="220px"
src="https://img.freepik.com/fotos-gratis/doutor-apontando-para-o-fundo-lateral-sobre-o-branco_1368-5830.jpg?w=826&t=st=1688691013~exp=1688691613~hmac=b64eb7a54abaae95b637525ba0b537fbd7c6a809ebc2062af2ac185d88be4eac"
alt=""
/>
 
  <img
class="headerImage"
width="220px"
src="https://img.freepik.com/fotos-gratis/medico-segurando-algo-sobre-fundo-branco_1368-5813.jpg?w=740&t=st=1688691102~exp=1688691702~hmac=dbc22c920d881d2ff9c7ecc832b94e8a570c796460471b9dc4e29ef30b809f11"
alt=""
/>
  <img
class="headerImage"
width="220px"
src="https://img.freepik.com/fotos-gratis/3d-renderizar-estetoscopio-medico-realista-na-cor-de-fundo_460848-10589.jpg?w=1380&t=st=1688691264~exp=1688691864~hmac=7a57b8e97da70abdcbdae228c9e3f587a9c96bd06cccb07db1cf3a0064ca1f11"
alt=""
/>
  <img
class="headerImage"
width="220px"
src="https://cdn-icons-png.flaticon.com/512/966/966101.png?w=826&t=st=1688691316~exp=1688691916~hmac=eb69375c5db12338f5029420409921691aefd1e11745bab411359a4702ca1cb9"
alt=""
/>
  <img
class="headerImage"
width="220px"
src="https://cdn-icons-png.flaticon.com/512/1207/1207166.png?w=826&t=st=1688691372~exp=1688691972~hmac=d6f281b109b6e4a783b9854f23b60e7148e7b2519edbe187b1cca51be18de5dc"
alt=""
/>
  <img
class="headerImage"
width="220px"
src="https://cdn-icons-png.flaticon.com/512/1085/1085396.png?w=826&t=st=1688691408~exp=1688692008~hmac=021fc03c078e1baadd35e8e263d952873ed5a3c1db11ea1ad12e20268a9827e4"
alt=""
/>
  <img
class="headerImage"
width="220px"
src="https://img.freepik.com/fotos-gratis/jovem-medico-signo-de-chamada_1194-9739.jpg?w=740&t=st=1688691746~exp=1688692346~hmac=514a31298334ba1337a0611af401ec6c21a3f86fa610090861971fb05d5d8517"
alt=""
/> */