html, body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: white;
  padding: 10px 20px 0px;
}

.header {
  background-color: rgb(255, 255, 255);
  min-height: 150px;
  border-bottom: solid;
  border-bottom-color: slateblue;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
  border-bottom: solid;
  border-bottom-color: slateblue;
}
.footer {
  background-color: white;
  min-height: 150px;
}

.tabela-de-horarios{
  border: solid 1px black;
}

.tabela-de-horarios thead{
  background-color: slateblue;
  text-align: left;
}

.tabela-de-horarios thead th{
  color: #f1f1f1;
}

.tabela-de-horarios td{
  border: solid 1px black;
  border-width: 0.1px;
}

h1, h2 , h3, .form-label,
p{
 font-family:'Trebuchet MS';
}

.texto-valor{
  font-size: 10px;
  font-weight: bold;
}

.formulario{
  width: 500px;
  min-width: 500px;
}

.form-input-email,
.form-input-about,
.form-input-name{
  width: 300px;
}

.form-text-area{
  width: 300px;
  max-width: 300px;
  max-height: 50px;
}

.botao-enviar{
  background-color: blueviolet;
  color: white;
  border-radius: 2px;
  font-family:'Trebuchet MS';
  width: 150px;
}

.botao-limpar{
  background-color: blueviolet;
  color: white;
  border-radius: 2px;
  font-family:'Trebuchet MS';
  width: 150px;
  margin-left:88px;
}